/* charity: water Brand Colors & Fonts

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

Fonts:
- Proxima Nova
- Avenir

*/
body {
  margin: 0;
  font-family: Proxima Nova, Avenir, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.text-section {
  flex: 1 1 400px;
  padding-right: 80px;
  padding-left: 0px;
  text-align: left;
  margin-top: -100px;
}

.text-section h1 {
  font-size: 42px;
  color: #FFC907;
  line-height: 1.35;
  margin-bottom: 0px;
}

.text-section p {
  font-size: 25px;
  margin-bottom: 35px;
  line-height: 1.5;
}

.cta-button {
  display: inline-block;
  padding: 14px 24px;
  background-color: #003366;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.cta-button:hover {
  background-color: #2E9DF7;
  color: #ffffff
}

.image-section {
  flex: 0 0 425px;
  text-align: center;
  margin-top: 30px;
}

.image-section img {
  max-width: 100%;
  display: block;
  margin: 0 auto;

  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border: 10px solid #ffc907;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;   
    text-align: center;       
  }

  .text-section {
    padding-right: 0;        
    margin-top: 0;           
  }

  .image-section {
    margin-top: 20px;        
  }
}

.site-header {
  background-color: #fff7e1;
  padding: 35px 0 35px 120px;
}

.site-header .logo {
  width: 200px;
  height: auto;
}


.triangle-bg {
  width: 0;
  height: 0;
  border-top: 450px solid transparent;   
  border-right: 700px solid #fff7e1;     
  position: fixed;                       
  bottom: 0;                            
  right: 0;                             
  z-index: 0;                           
}


body > *:not(.triangle-bg) {
  position: relative;
  z-index: 1;
}